body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    color: #333
}


/*Header*/

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E16BFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

ul#menu {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

#menu li {
    margin: 0 1.5rem;
}

#menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.25rem;
}

#menu a:hover {
    color: #8914A6;
    text-decoration: underline;
}


/*Main*/

main {
    position: relative;
    top: 6rem;
    }

#about {
    display: flex;
    justify-content: space-around;
}

#about-text {
    box-shadow: rgba(225, 107, 255, 0.7) 0px 5px 10px 5px;
    padding: 1rem;
    border-radius: 0.5rem;
}

#details {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#skills, #projects {
    text-align: center;
    margin: 2rem 0;
}

#skills img {
    width: 5rem;
    height: 5rem;
    margin: 1rem;
}

#about, #details {
    margin: 6% 0;
}

#projects p {
    font-size: 1.25rem;
    color: #7600a8;
    font-style: italic;
}

#contact {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    width: 50%;
    margin: 0 25% 10%;
    padding: 1rem 0 2rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 0.5rem;
}

label {
    display: inline-block;
    width: 6rem;
}

input, label, textarea {
    margin: 0.5rem;
}

#submit {
    cursor: pointer;
    padding: 0.25rem 1rem;
    margin: 1rem 0;
}

#submit:hover {
    background-color: #7600a8;
    color: white;
}

#up-arrow {
    width: 2rem;
    height: 2rem;   
}

#scroll-to-top {
    border: 0.1rem solid #7600a8;
    border-radius: 50%;
    position: fixed;
    right: 2rem;
    bottom: 5rem;
    cursor: pointer;
}

#scroll-to-top:hover {
    background-color: #E16BFF;
}

/*Footer*/

footer {
    text-align: right;
    margin: 3rem 2rem 0;
    font-size: 0.75rem;
}
